
$function-font:    'Gothic A1', sans-serif;
$text-font: 'Libre Baskerville', serif;

img { 
        -webkit-user-drag: none; 
        -khtml-user-drag: none; 
        -moz-user-drag: none; 
        -o-user-drag: none; 
      }

body {
    margin: 0;
    font-family: $text-font;

}

a {
        color:black;
} 


h2 {
        font-family: $text-font;
        font-weight: 700;  
}

h3 {
        font-family: $text-font;
        font-weight: 700;  
        text-align: center;
}

strong {
        font-weight: 700;
}



.button {
        
        cursor: pointer;
        border-radius: 18px;
        border: 2px solid #2a5dcb;
        color: #2a5dcb;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 5px;
        padding-top: 3px;
        transition: 200ms ease;
}


.button:hover {
        color: #fff6ed;
        background-color: #2a5dcb;
      }




.title-container {
        position: relative;
        padding: 2%;
        top: 20px;
        // display: grid;
        // height: 50vh;
        // grid-template-columns: 3fr 1fr; 
        // grid-template-rows: 4fr 1fr; 
        // border-bottom: 5px solid;

}
      
.title {
        // grid-area: 1 / 1 / 2 / 2; 
        margin-top: 7%;
        width: 100%;
        font-size: 400%;
        font-family: $function-font;
        text-transform: uppercase;
        font-weight: 100;
      }
      
.icon-container {
        // grid-area: 1 / 2 / 3 / 3;
        display:none;
        position: relative;
        width: 85%;
        padding-top: 10%;
      }
      
.icon {
        display:none;
        width: 100%;
        position: absolute;
        bottom: 0%;
        right: 0%;
      }

.chapter {
        display: none;
        color: black;
        text-decoration: none;
        font-family: $function-font;
        // font-weight: 600;
        font-size: 1.2em;
        position: absolute;
        bottom: 5%;
        left: 2%;
}
.chapter:hover {
        text-decoration: underline;
}



.main-text {
        margin-bottom: 5%;
        margin-left: 2%;
        margin-right: 50%;
      }
      
.main-text p {
    font-family: $text-font;
    font-size: 20px;
    line-height: 29px;
}

.box-text {
        display: block;
        color: #fff6ed;
        background-color: #2a5dcb;
        width: 80%;
        font-family: $text-font;
        font-size: 1em;
        line-height: 27px;
        padding: 2%;
        border-radius: 10px;
}
    
.cite {
 text-decoration: underline;
}


.ref {
        opacity: 1 ;
        transition: 200ms ease;        
        border: 1px solid #ee5637;
        padding: 10px;
        max-width: 200px;
        font-family: $function-font;
        font-size: 0.8em;
        position: absolute;
        left: 53%;
        background-color: #fff;
        color: #ee5637;
        
}

.img-in-text {
        width: 100%;
}

.img-inline {
        display: inline;
        width: 45%;
}

.credit {
        width: 100%;
        display: block;
        font-family: $function-font;
        color: #555;
        font-size: 0.9em;
}

.blue-box {
        background-color: #2a5dcb;
        color: #fff6ed;
        border-radius: 5px;
}

.org-box {
        background-color: #ee5637;
        color: #fff6ed;
        border-radius: 5px;
}

.design-type   {
        background-color:#ffc600;
        font-family: $function-font;
        padding-left: 2px;
        padding-right: 2px;

        // border: 1px solid black;
        border-radius: 10px;
}


.footer {
        position: relative;
        bottom: 5vh;
        display: flex;
       font-family: $function-font;
       a {        
        width: 50%;
        height: 15vh;
        padding: 20px;
        transition: 250ms; 
        text-decoration: none;
}
        .footer-title-next {
                width:60%;
                font-family: $function-font;
                font-size: 1.5em;
        }


        .footer-title-prev {
                margin-left: 30%;
                font-family: $function-font;
                font-size: 1.5em;
        }

#prev {
        position: relative;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        text-align: right;
        text-transform: uppercase;
}

#next {
        position: relative;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-transform: uppercase;

}

        .footer-arrow {
        width: 10vw;
        height: auto;
        transition: 100ms ease;
        }

        #arrow-left {
        position: absolute;
        top: 20%;
        left: 5%;
        }

        #arrow-right {
                position: absolute;
                top: 20%;
                right: 5%;
                }


}

.screen-resize {
        display:none;
}

@media screen and (max-width:1000px) {
        .title-container {
                top: 100px;
                margin-left:3%;
                font-size: 3vw;
        }
        .main-text {
                margin-top:10%;
                margin-left:5%;
                margin-right:5%;
        }

        .cite {
                text-decoration: underline;
               }
               
               
        .ref {
                opacity: 1 ;
                transition: 200ms ease;        
                border: 0px;
                padding: 0;
                font-family: $function-font;
                font-size: 1em;
                position: relative;
                left: 0;
                background-color: rgba(255, 255, 255, 0);
                color: #757575;
        }

        .footer {        
                flex-wrap: wrap;
                margin-top: 100px;
                a {
              
                height: 15vh;
                width: 100%;
                }


        .footer-title-next {
                width:100%;
                font-size: 1.3em ;
        }

        .footer-title-prev {
                margin-left: 0;
                width:100%;
                font-size: 1.3em ;
        }
        }

        
}