
$function-font:    'Be Vietnam', sans-serif;
$text-font: 'Lora', serif;

img { 
        -webkit-user-drag: none; 
        -khtml-user-drag: none; 
        -moz-user-drag: none; 
        -o-user-drag: none; 
      }

body {
    margin: 0;
    background-color: #fff6ed;
    font-family: $text-font;

}

a {
        color:black;
} 


h2 {
        font-family: $text-font;
        font-weight: 700;  
        margin-left: -10%;
}

h3 {
        font-family: $text-font;
        font-weight: 700;  
        text-align: center;
}

strong {
        font-weight: 700;
}

nav { 
        display: flex;
        position: fixed;
        justify-content: flex-end;
        top: 0;
        left: 0;
        width: 100vw;
        font-family: 'Be Vietnam', sans-serif;
        padding-right: 2%;
        padding-top: 1%;
        z-index: 1000;
 a {
        color:black;
        font-size: 1.2em;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 20px;
}

a:hover {
        text-decoration: underline;
   }

}

.button {
        
        cursor: pointer;
        border-radius: 18px;
        border: 2px solid #2a5dcb;
        color: #2a5dcb;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 5px;
        padding-top: 3px;
        transition: 200ms ease;
}


.button:hover {
        color: #fff6ed;
        background-color: #2a5dcb;
      }


    
#home {
    font-family: 'Lora', serif;
    color:black;
    font-size: 1.2em;
    font-weight: 800;
    text-decoration: none;
    position: fixed;
    left: 20px;
}

.title-container {
        position: relative;
        display: grid;
        height: 50vh;
        padding: 2%;
        grid-template-columns: 3fr 1fr; 
        grid-template-rows: 4fr 1fr; 
        border-bottom: 5px solid;
}
      
.title {
        grid-area: 1 / 1 / 2 / 2; 
        width: 100%;
        font-weight: 400;
        font-size: 400%;
        font-family: 'Lora', serif;
      }
      
.icon-container {
        grid-area: 1 / 2 / 3 / 3;
        position: relative;
        width: 85%;
        padding-top: 10%;
      }
      
.icon {
        width: 100%;
        position: absolute;
        bottom: 0%;
        right: 0%;
      }

.chapter {
        color: black;
        text-decoration: none;
        font-family: $function-font;
        // font-weight: 600;
        font-size: 1.2em;
        position: absolute;
        bottom: 5%;
        left: 2%;
}
.chapter:hover {
        text-decoration: underline;
}



.main-text {
        margin-top: 5%;        
        margin-bottom: 5%;
        margin-left: 30%;
        margin-right: 30%;
      }
      
.main-text p {
    font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 29px;
}

.box-text {
        display: block;
        color: #fff6ed;
        background-color: #2a5dcb;
        width: 80%;
        font-family: $text-font;
        font-size: 1em;
        line-height: 27px;
        padding: 2%;
        border-radius: 10px;
}
    
.cite {
 text-decoration: underline;
}


.ref {
        opacity: 1 ;
        transition: 200ms ease;        
        border: 1px solid #ee5637;
        padding: 10px;
        max-width: 200px;
        font-family: $function-font;
        font-size: 0.8em;
        position: absolute;
        left: 73%;
        background-color: #fff6ed;
        color: #ee5637;
        
}

.img-in-text {
        width: 100%;
}

.img-inline {
        display: inline;
        width: 45%;
}

.credit {
        width: 100%;
        display: block;
        font-family: $function-font;
        color: #555;
        font-size: 0.9em;
}

.blue-box {
        background-color: #2a5dcb;
        color: #fff6ed;
        border-radius: 5px;
}

.org-box {
        background-color: #ee5637;
        color: #fff6ed;
        border-radius: 5px;
}

.design-type   {
        background-color:#ffc600;
        font-family: $function-font;
        padding-left: 2px;
        padding-right: 2px;

        // border: 1px solid black;
        border-radius: 10px;
}


.footer {
        position: relative;
        display: flex;
       font-family: 'Be Vietnam', sans-serif;
       a {        
        width: 50%;
        height: 15vh;
        padding: 20px;
        transition: 250ms; 
        text-decoration: none;
        color: #fff6ed;
}
        a:hover {
        background-color: #2a5dcb;
        color: #fff6ed;
}

        .footer-title-next {
                width:60%;
                font-family: $text-font;
                font-size: 1.5em;
        }


        .footer-title-prev {
                margin-left: 30%;
                font-family: $text-font;
                font-size: 1.5em;
        }

#prev {
        position: relative;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        text-align: right;
}

#next {
        position: relative;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
}

        .footer-arrow {
        width: 10vw;
        height: auto;
        transition: 100ms ease;
        }

        #arrow-left {
        position: absolute;
        top: 20%;
        left: 5%;
        }

        #arrow-right {
                position: absolute;
                top: 20%;
                right: 5%;
                }


}



.screen-resize {
        display: none;
        background-color: #fff6ed;
        z-index: 1005;
        position: absolute;
        top: 0;
        left: 0;
        transition: 250ms ease;
        padding: 30%;
        font-family: $function-font;
}

@media screen and (max-width:1000px) {
        .screen-resize {
        display: block; 
        width: 100vw;
        height: 100vh;
        }
        .title-container {
                display: none;
        }
        .main-text {
                display: none;
        }
        .footer {
                display: none;
        }
}