
$title-font : 'Gothic A1', sans-serif;
$text-font : 'Libre Baskerville', serif;
$highlight-color: rgb(255, 0, 225);



body {
    margin: 0;
}

// nav {
//     position: fixed;
//     width: 100vw;
//     height: 12vh; 
//     border-bottom: 2px solid black;
//     z-index: 1000;
// }

// a {
//     text-decoration: none;
    
// }

// #home {
//     position: absolute;
//     font-family: $title-font;
//     color: black;
//     font-weight: 200;
//     font-size: 5vw;
//     width: 100vw;
//     text-align: center;
//     margin: auto;
//     transition: ease-in 200ms;
// }

// #home:hover {
//     color: rgb(255, 0, 225);

// }

// .side-links {
//     position: absolute;
//     font-family: $text-font;
//     font-style: italic;
//     color: black;
//     font-size: 1.5em;
// }

// #about {
//     top: 30%;
//     left: 10%;
// }

// #principles {
//     top: 30%;
//     right: 10%;
// }




#report {
    position: fixed;
    bottom: 0;
    font-family: $title-font;
    color: black;
    font-weight: 200;
    font-size: 5vw;
    width: 100vw;
    height:12vh;
    text-align: center;
    border-top: 2px solid black;
    transition: ease-in-out 200ms;
    text-overflow: nowrap;
    overflow: hidden;
}

#report-text {
    width: 100%;
    margin: 0;
    text-align: center;
    color: black;
}

// #report-text:hover {
//     animation: runningtext 5s linear infinite;

// }

#report:hover {
    background-color: $highlight-color;
}

#track {
    width: 100vw;
}

#track :hover{
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: runningtext 10s linear infinite;

  }
  
@keyframes runningtext {
    0%   {transform: translateX(-100%)};
    50% {transform: translateX(-200%)};
    100% {transform: translateX(-100%)};

}

#photo-wall {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 400px;
    // repeat(4,25%);

}

.photo-container {
    position: relative;
    min-width: 200px;
    max-width: 800px;
    min-height: 300px;
    max-height: 700px;
}

.photo-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}

.text-container {
    opacity: 0;
    position:absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255,0,255);
    color: black ;

    transition: ease 200ms;
}

.text-container:hover {
    opacity: 1;
}

.title {
    margin:0;
    padding: 2%;
    font-family: $title-font;
    font-size: 2em;
    font-weight: 200;
    text-transform: uppercase;
}

.location {
    margin:0;
    padding: 2%;
    font-family: $text-font;
}

@media screen and (max-width:1000px) {
    #report {
        background-color: $highlight-color;
font-size: 2em;    }
}