body {
    margin: 0;
    background-color: #ffc600;
}

img { 
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none; 
  }


.background-grid {
    position: fixed;
    width: 2000px;
    object-fit: cover;
    overflow: hidden;
    z-index: -1000;
}

nav { 
    display: flex;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100vw;
    font-family: 'Be Vietnam', sans-serif;
    padding-right: 2%;
    padding-top: 1%;
    z-index: 1000;
}

nav a {
    color:black;
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}

.title-container {
    position: relative;
}

#note {
    position: relative;
    top: 60px;
    left: 30px;
    width: 25%;
}

.note-container {
    position: relative;
}

.note-container p {
    position: absolute;
    width: 20%;
    top: 30%;
    left: 6%;
    font-family: 'Lora', serif;
    color: #ffc600;
    font-size: 2vw;

}

.icon-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    overflow: hidden;
}

.icon-container a {
    text-decoration: none;
    color:black;
}

.band-aid-container {
    position: relative;
    top:-10%;
    left:0%;
    overflow: hidden;
}

#band-aid {
    position: relative;
    top: 0%;
    right: 0%;
    width: 100%;
}

.icon {
    width: 60%;
    height: auto;
    filter:drop-shadow(5px 5px 2px rgb(152, 152, 152, 0.5))
}

.icon:hover {
    transform: translate(-5px,-5px);
    transition: 300ms;
    transition-timing-function: ease-out;
}

.essay-title {
    font-family: 'Be Vietnam', sans-serif;
    min-width: 200px;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    position: absolute;
    display: none;
    z-index: 1010;
}

#essay1 {
    position:absolute;
    width: 10%;
    bottom: 5%;
    left: 17%;
}

#essay-title1 {
    position: absolute;
    margin-top: -100px;
    margin-left: 100px;
}


#essay2 {
    position:absolute;
    width: 9%;
    bottom: 15%;
    left: 32%;
}

#essay3 {
    position:absolute;
    width: 10%;
    bottom: 23%;
    left: 47%;
}


#essay4 {
    position:absolute;
    width: 10%;
    bottom: 33%;
    left: 61%;
}

#essay5 {
    position:absolute;
    width: 10%;
    bottom: 15%;
    left: 56%;
}

#essay6 {
    position:absolute;
    width: 10%;
    bottom: 42%;
    left: 76%;
}

#essay7 {
    position:absolute;
    width: 10%;
    bottom: 50%;
    left: 90%;
}

#essay8 {
    position:absolute;
    width: 10%;
    bottom: 25%;
    left: 72%;
}

#essay9 {
    position:absolute;
    width: 10%;
    bottom: 30%;
    left: 85%;
}

#essay10 {
    position:absolute;
    width: 10%;
    bottom: 7%;
    left: 65%;
}

#essay-title10{
    margin-top: -100px;
    margin-left: 120px;
}

#essay11 {
    position:absolute;
    width: 10%;
    bottom: 12%;
    left: 80%;

}




















.arrow:hover {
    filter: drop-shadow(5px, 5px, 2px, #333);
    transition: 300ms;
    transition-timing-function: ease-out;
}

.arrow {
    position: relative;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.2em;
    color: #ee5637;
    text-decoration: none;
}

.arrow p {
    /* position: absolute;
    margin: auto; */
    margin: 0;
    text-align: center;
}

#leftArrow {
    position: absolute;
    left: 0;
    bottom: 0;
}

#leftArrow:hover {
    transform: translate(-5px,-5px);
}

#rightArrow {
    position: absolute;
    right: 0;
    bottom: 0;
}

#rightArrow:hover {
    transform: translate(5px,-5px);

}

